.nav-bar {
    display: flex;
    width: 100%;
    height: 120px;
    gap: 21%;
}

.logo {
    width: 150px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    gap: 38px;
    font-size: 15px;
    width: 45%;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 190px;
    height: 150px;
}

.nav-bar h2 {
    font-family: "Roboto", sans-serif;
    color: #f5291b;
    cursor: pointer;
}

.authentication-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    gap: 6%;
}

.login {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 2pt solid #f5291b;
    background-color: transparent;
    font-weight: bolder;
    color: #f5291b;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;

}

.signup {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #f5291b;
    font-weight: bolder;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

.login:hover{
    background-color: #f5291b;
    border: none;
    color: white;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.signup:hover{
    background-color: transparent;
    border: #f5291b;
    color: #f5291b;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.info .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #f5291b;

}