

.explore-category{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 40px;
    margin-top: 20px;
    
    
   
}

.container{
    width: 180px;
    height: 160px;
    border: 2pt solid rgb(235, 26, 26);
    margin: 20px;
    
    background-color:whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover{
    transform: translateY(-10px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.top-div{
    margin: 25px;
    margin-top: 20%;
    background-color: rgb(243, 229, 210);
    border-radius: 10px;
}


.jobs{
    font-size: 15px;
}

.name{
    position: relative;
    top: 20px;
    left: 10px;
    color: rgb(77, 77, 77);
}

.jobs{
    position: relative;
    top: 20px;
    left: 10px;
    color: rgb(151, 151, 151);
}

.arrow{
    position: relative;
    bottom: 10px;
    right: 5px;
    float: right;
    width: 45px;
}

.container-image{
    position: relative;
    left: 50px;
    top: 17px;
}

.features-header{
    width: 90%;
    height: 200px;
    
    margin: 50px;
}

.featured-jobs-label{
    margin: 20px;
    color: rgb(235, 26, 26);
}

.featured-jobs-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    
}

.job-container{
    width: 180px;
    height: 250px;
    background-color: whitesmoke;
    margin: 20px;
    margin-left: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.job-container:hover{
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.icon{


}

.job-label{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
}

.address{
    font-size: 13px;
    margin: 5px;
    color: gray;
}

.job-description{
    color: gray;
    font-size: 13px;
    margin: 7px;
}

.category-button-container{
    display: flex;
    gap: 5px;
    margin: auto;
}

.category-btn{
   width: 80px;
   height: 30px;
   margin: 4px;
   border-radius: 20px;
   border: none;
   font-size: 11px;
   font-weight: bold;
   
}

.marketingg{
    color: rgb(255, 174, 0);
    background-color: rgb(255, 255, 164);
}

.designn{
    color: rgb(0, 170, 170);
    background-color: rgb(187, 255, 232);
}

.top-container{
    display: flex;
    margin: 9px;
    
    
}

.full-time{
    width: 80px;
    height: 28px;
    margin-top: 10px;
    background-color: white;
    border: 1.4pt solid rgb(187, 11, 187);
    color: rgb(187, 11, 187);
    border-radius: 5px;
}

.businesss{
    color: blueviolet;
    background-color: rgb(217, 188, 245);
}

.technologyy{
    color: orangered;
    background-color: rgb(255, 194, 171);
}

.third-features{
    margin-top: 100px;
    background-color: rgb(240, 240, 240);
    border: 1px solid white;
}

.latest-label{
    margin-left: 40px;
    color: rgb(235, 26, 26);
    margin-top: 100px;
}

.latest-jobs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
    margin-left: 120px;
}

.latest-jobs-container{
  
    width: 400px;
    height: 120px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 50px;
}

.latest-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-button{
    width: 80px;
   height: 30px;
   margin: 4px;
   border-radius: 20px;
   border: none;
   font-size: 11px;
   font-weight: bold;
}

.full-timee{
    background-color: rgb(221, 189, 252);
    color: blueviolet;
}

.latest-job-label{
    margin-left: 70px;
    font-size: 20px;
}

.latest-address{
    color: gray;
    font-size: 14px;
    margin-left: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.features-header{
    width: 100%;
    height: 28vw;
    margin: 0;
    margin-top: 100px;
    
    background: url('/features-header.png') no-repeat;
   background-size: 100%;
    position: relative;
    animation: fadeIn 3s;
}

.icon{
    width: 120px;
    height: 90px;
}